@use '../abstract' as *;

.matter {
    @include flexColumn(center, center, column);
    margin: 0 auto;
    width: 70%;
    position: relative;
    bottom: 10.938rem;

    &__title {
        font-family: $primary-font;
        font-size: $font-size-sm-one;
        font-weight: $font-weight-medium-one;
        color: $green-leaf;
        margin-bottom: .5rem;
    }

    .audio-container {
        width: 94.4%;
        height: 60px;
        margin-bottom: 2.1rem;

        &__title {
            font-family: $primary-font;
            font-size: $font-size-sm-one;
            font-weight: $font-weight-medium-one;
            color: $green-leaf;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &__player {
            width: 100%;
            height: 40px;
            background-color: #F5F5F5;
            display: flex;
            align-items: center;
            padding: .801rem 1.563rem .801rem 1.113rem;
            gap: 1.25rem;
            position: relative;
            right: 1.25rem;

            @include max(760) {
                width: 100%;
            }
        }

        &__play {
            border-radius: 50%;
            width: 39.38px;
            height: 39.38px;
            border: none;
            background-color: $green-leaf;
            flex-shrink: 0;
            cursor: pointer;
            @include flex(center, center);
            transition: background-color 0.2s ease;

            &:hover {
                background-color: darken($green-leaf, 10%);
            }
        }

        &__progress-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            gap: .938rem;

            @include max(760) {
                width: 80%;
            }
        }

        &__progress-bar {
            background-color: #e9ecef;
            height: 8px;
            width: 605px;
            overflow: hidden;
        }

        &__progress {
            height: 100%;
            width: 0;
            background-color: $green-leaf;
        }

        &__time {
            font-family: $primary-font;
            font-size: .688rem;
            color: $gray-dark;
            right: 4.188rem;
            position: relative;
            align-self: self-end;
        }
    }

    &--paragraph {
        font-family: $third-font;
        font-weight: $font-weight-regular;
        font-style: normal;
        font-size: 1.313rem;
        text-align: justify;
        line-height: 1.875rem;
        color: $gray-dark;
        margin-bottom: 1.25rem;

        &:first-of-type {
            margin-top: 2.188rem;
        }

        @include max(760) {
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }

    .tags {
        display: flex;
        align-items: baseline;
        width: 90%;
        margin-top: 1.938rem;

        &--label {
            @include font-paragraph-bold;
            letter-spacing: 0.1em;
            color: $gray-dark;
            margin-right: .5rem;
            white-space: nowrap;
        }

        &--wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .tag {
            font-family: $primary-font;
            font-size: $font-size-xs;
            font-weight: $font-weight-medium-one;
            letter-spacing: 0.015em;
            color: $green-leaf;
            text-decoration: underline;
            margin: .625rem .938rem 0 0;
            cursor: pointer;
        }
    }
}


@include max(760) {
    .matter {
        position: inherit;
        margin-top: 2rem;
        margin: 2rem auto 10rem auto;
    }
}

.trace-section {
    margin-top: -95px;
    padding-bottom: 80px;
    width: 1140px;
    border-top: 1px solid #D4D4D4;

    @include max(1200) {
        width: 90%;
    }

    @include max(760) {
        width: 100%;
    }

}